body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 2rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
}

input[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #555;
}

.video-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f2f2f2;
}

video {
  border-radius: 8px 10px;
  width: 38vw;
}

.video-frame {
  /* background-color: #fff; */
  border-radius: 8px;
  width: 80vw;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
}

.controls {
  padding-top: 30px;
}

button {
  background-color: #555;
  padding: 5px 10px;
  border: none;
  color: #fff;
  margin-right: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.controls button {
  margin: 0 5px; /* Adjust the margin as needed for spacing */
}
