body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 2rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
}

input[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #555;
}

.video-container {
  display: none;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  align-items: flex-start;
}

.col {
  flex-basis: 30%;
  padding-top: 30vh;
}

.main {
  /* flex-basis: 60%; */
  /* margin-right: 20px; */
  /*  */
  min-width: 33vw;
  min-height: 50vh;
  margin-right: 30px;
}

#remote-video {
  min-width: 30vw;
  min-height: 40vh;
}

#local-video {
  width: 20vh;
}

video {
  border-radius: 8px 10px;
  /* width: 38vw; */
  width: 100%;
  height: 100%;
}

.video-frame {
  /* background-color: #fff; */
  border-radius: 8px;
  width: 80vw;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
}

.controls {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #555;
  padding: 5px 10px;
  border: none;
  color: #fff;
  margin-right: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.controls button {
  margin: 0 5px; /* Adjust the margin as needed for spacing */
}

@media screen and (max-width: 767px) {
  .controls,
  #local-video {
    display: none;
  }
}

#passphrase-form button {
  margin: 10px 0;
}

.mButton {
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 1em;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  background-color: #000;
  user-select: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  &.primary {
    background-color: #09f;
  }

  &.warning {
    background-color: #f90;
  }

  &.info {
    background-color: #c03;
  }

  &.pure {
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;

    &::after {
      background-image: radial-gradient(circle, #ccc 10%, transparent 11%);
    }
  }

  &.circle {
    border-radius: 1.5em;
  }

  &.block {
    width: 100%;
    display: block;
  }
}

.ripple {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 11%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(12, 12);
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s;
  }

  &:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }
}
.bg {
  background-color: #1976d2 !important;
}
.tag {
  padding: 10px 0;
}
.passphrase {
  font-size: 1rem;
}
.video_play {
  box-shadow: 0 0 5px 0;
    background: #000;
    object-fit: cover;
}